.progress-bar{
    position: relative;
    width: 345px;
    height: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.metric-label{
    position: absolute;
    left: 0%;
    right: 4.06%;
    top: 0%;
    bottom: 43.48%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.metric-percentage{
    position: absolute;
    left: 84.93%;
    right: 0%;
    top: 56.52%;
    bottom: 0%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
/* identical to box height */

color: #FFFFFF;
}

.group-bars{
    position: absolute;
    left: 0%;
    right: 18.55%;
    top: 56.52%;
    bottom: 0%;
}

.current-progress{
    position: absolute;
    left: 0%;
    top: 56.52%;
    bottom: 0%;

    background: #5297FF;
    border-radius: 100px;
}

.target-progress{
    position: absolute;
    left: 0%;
    right: 5.0%;
    top: 56.52%;
    bottom: 0%;

    background: #385682;
    border-radius: 100px;
}